/*#region
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  #endregion*/
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(194, 57, 248, 1), rgba(48, 53, 97, 1));
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 60vw;
  background-color: white;
}

.pic {
  width: 30vw;
  height: 40vh;
}

.right {
  width: 50vw;
}

.left {
  width: 50vw;
  position: relative;
  margin-left: -9.5vw;
}

.right span {
  font-weight: bold;
  font-size: 20px;
}

.item {
  font-size: 11px;
}

.answer {
  border-bottom: 1px solid gray;
  width: 30vw;
  display: none;
}

.question {
  border-bottom: 1px solid gray;
  width: 30vw;
}

.question span {
  border: blue solid 1px;
}

.appear {
  display: block;
}

.upSideDown {
  transform: rotate(180deg);
}
